.Footer{
  padding: 10px 0;
  min-width: 100%;
  background-color: var(--green);
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.pageLinks{
 
display: flex;
gap: 30px   ;
margin-bottom: 10px;

    a{
        text-decoration: none;
        
        font-size: 1.5rem;
        font-weight: 600 ;
        color: white;
    }
} 

.iconsList{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

